# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY=MY_GEMINI_API_KEY

# SUPABASE: Backend & Auth
SUPABASE_URL=https://utqvepqvblwhjnepxdvk.supabase.co
SUPABASE_ANON_KEY=sb_publishable_V99KuTXT1LU5CkZ0cySreA_ORWtWl4o
